.content-box {
  width: 500px;
  min-height: 300px;
  background-color: #741f90;
  border-radius: 8px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      font-size: 18px;
      @include font-7;
    }

    .contents {
      font-size: 12px;
      @include font-4;
    }
  }

  .tags {
    display: flex;
    gap: 4px;
    align-self: end;
  }
}
