.container {
  width: fit-content;
  height: fit-content;
  padding: 6px 14px;
  /* border: 1px solid #5e5e5e; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe000;
  font-family: "Pretendard";
  font-weight: 500;
  @include font-5;

  &.sm {
    background-color: #2c2c2c;
    border: none;
    cursor: default;

    .name {
      font-size: 12px;
      color: #2c2c2c;
      @include font-4;
    }
  }

  &.md {
    cursor: pointer;

    .name {
      color: #2c2c2c;
      font-size: 14px;
      @include font-6;
    }

    // &:hover {
    //   border: 1px solid #a7a7a7;
    //   @include font-7;
    // }

    // &.selected {
    //   background-color: #5e5e5e;
    //   border: none;
    //   cursor: default;
    //   @include font-5;
    // }
  }
}
