// SandBox
// @font-face {
//   font-family: "SandBox";
//   src: url("./fonts/SanBox/SandBox-Regular.otf");
// }
// @font-face {
//   font-family: "SandBox";
//   src: url("./fonts/SanBox/SandBox-Light.otf");
// }
// @font-face {
//   font-family: "SandBox";
//   src: url("./fonts/SanBox/SandBox-Bold.otf");
// }

// Bai Jamjuree
@font-face {
  font-family: "Bai_Jamjuree";
  font-weight: 900;
  src: url("./fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf");
}

// Paybooc
@font-face {
  font-family: "Paybooc";
  font-weight: 900;
  src: url("./fonts/Paybooc_OTF/paybooc-ExtraBold.otf");
}
@font-face {
  font-family: "Paybooc";
  font-weight: 700;
  src: url("./fonts/Paybooc_OTF/paybooc-Bold.otf");
}
@font-face {
  font-family: "Paybooc";
  font-weight: 500;
  src: url("./fonts/Paybooc_OTF/paybooc-Medium.otf");
}
@font-face {
  font-family: "Paybooc";
  font-weight: 200;
  src: url("./fonts/Paybooc_OTF/paybooc-Light.otf");
}

// Pretendard
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 900;
//   src: url("./fonts/Pretendard/Pretendard-Black.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 800;
//   src: url("./fonts/Pretendard/Pretendard-ExtraBold.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 700;
//   src: url("./fonts/Pretendard/Pretendard-Bold.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 600;
//   src: url("./fonts/Pretendard/Pretendard-SemiBold.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 500;
//   src: url("./fonts/Pretendard/Pretendard-Medium.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 400;
//   src: url("./fonts/Pretendard/Pretendard-Regular.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 300;
//   src: url("./fonts/Pretendard/Pretendard-Light.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 200;
//   src: url("./fonts/Pretendard/Pretendard-ExtraLight.woff") format("woff");
// }
// @font-face {
//   font-family: "Pretendard";
//   font-weight: 100;
//   src: url("./fonts/Pretendard/Pretendard-Thin.woff") format("woff");
// }
