.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202632;

  .header {
    width: 100%;
    color: #fff;
    padding: 2rem;
    font-size: 2.8rem;
    @include font-4;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 8rem;
    position: fixed;
    background-color: #202632;
    box-shadow: 0 0 5rem #0000005c;
    z-index: 999;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      @include baijamjuree-1;
      gap: 0.8rem;

      .icon {
        width: 4rem;
      }
    }
  }

  .goto-component-group {
    padding: 0.4rem 0.8rem;
    cursor: pointer;
  }

  .body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 4rem;
    @include font-4;
    font-size: 2.8rem;

    .icon {
      width: 4.4rem;
    }

    .title {
      @include baijamjuree-1;
    }

    .description {
      color: #cdd6df;
      @include paybooc-4;
      line-height: 1.6;
      text-align: center;
    }
  }

  .footer {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    .down-arrow-button {
      background-color: #454c53;
      border: none;
      border-radius: 0.4rem;
      width: 4.8rem;
      height: 3.2rem;
      box-shadow: 0 0rem 0.5rem rgb(255 255 255 / 18%);
      cursor: pointer;

      .icon-down-arrow {
        width: 3.2rem;
      }
    }
  }
}

.experience-section {
  width: 100vw;
  height: fit-content;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202632;

  .experience {
    width: 112rem;
    color: #fff;

    h1 {
      font-size: 6rem;
      color: #fff;
      @include baijamjuree-1;
      margin-top: 10rem;
    }

    &.work h1 {
      text-decoration: underline #ff6e00;
    }
    &.project h1 {
      text-decoration: underline #0064ff;
    }
    &.study h1 {
      text-decoration: underline #00ff88;
    }

    .group {
      width: 100%;
      height: fit-content;

      .card {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-top: 10rem;

        .label {
          min-width: 40rem;
          width: 40rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2rem;

          h2 {
            @include font-7;
            font-size: 3.6rem;
          }

          .info {
            @include baijamjuree-7;
            font-size: 1.8rem;
          }
        }

        .contents {
          flex-grow: 1;

          .content {
            margin-bottom: 10rem;

            .label {
              width: 100%;

              .role {
                margin-left: 0.8rem;
              }
            }
            .details {
              margin-top: 4rem;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 2.8rem;

              .name {
                @include font-5;
                font-size: 2rem;
                margin-bottom: 1rem;
              }

              .description {
                @include font-3;
                font-size: 2rem;
                line-height: 1.4;
              }
            }
          }
        }
      }
    }
  }
}

.icon-info {
  width: 2.4rem;
  margin-left: 0.8rem;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: #cdd6df9e;
  margin-bottom: 10rem;
}

ul {
  padding-inline-start: 4rem;
}

/* Mobile view size*/
@media (max-width: 768px) {
  html {
    font-size: 36%;
  }

  .experience-section {
    width: 100vw;
    height: fit-content;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202632;

    .experience {
      width: 100%;
      color: #fff;

      h1 {
        font-size: 6rem;
        color: #fff;
        @include baijamjuree-1;
        margin-top: 10rem;
      }

      &.work h1 {
        text-decoration: underline #ff6e00;
      }
      &.project h1 {
        text-decoration: underline #0064ff;
      }
      &.study h1 {
        text-decoration: underline #00ff88;
      }

      .group {
        width: 100%;
        height: fit-content;

        .card {
          width: 100%;
          display: flex;
          align-items: flex-start;
          margin-top: 10rem;

          .label {
            min-width: 40rem;
            width: 40rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            h2 {
              @include font-7;
              font-size: 3.6rem;
            }

            .info {
              @include baijamjuree-7;
              font-size: 1.8rem;
            }
          }

          .contents {
            flex-grow: 1;

            .content {
              margin-bottom: 10rem;

              .label {
                width: 100%;

                .role {
                  margin-left: 0.8rem;
                }
              }
              .details {
                margin-top: 4rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2.8rem;

                .name {
                  @include font-5;
                  font-size: 2rem;
                  margin-bottom: 1rem;
                }

                .description {
                  @include font-3;
                  font-size: 2rem;
                  line-height: 1.4;
                }
              }
            }
          }
        }
      }
    }
  }
}
