.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;

  .header {
    width: 100%;
    color: #fff;
    padding: 20px;
    font-size: 28px;
    @include font-4;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .goto-component-group {
    padding: 4px 8px;
    cursor: pointer;
  }

  .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 20px;
    font-size: 20px;
    @include font-4;

    .start-button {
      padding: 10px;
      width: 160px;
      height: fit-content;
      border: none;
      border-radius: 4px;
      @include font-7;
      background-color: #5e5e5e;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
      }
    }
  }
}
